body {
  padding: 0;
  margin: 0;
}

.navbar {
  z-index: 1;
}

.top_block_post {
  h2 {
    font-size: 25px;
    font-family: 'RobotoCondensed', sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
  }
  a{
    color: #333333;
    text-decoration: none;
  }
  .data_module {
    display: flex;
    justify-content: space-around;
    .duis {
      .block_p_post {
        //margin: 30px 0 30px 0; - type.less 61 - перебивает  просто р ?
        margin: 30px 0 30px 0;
        font-size: 13px;
        font-family: 'RobotoCondensed', sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.723;
      }
    }
  }
  .snare {
    min-height: 70px;
    min-width: 750px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 70px;
    a {
      color: #333333;
      text-decoration: none;
      margin-right: 35px;
    }
    a:first-child {
      text-transform: uppercase;
    }
    .social_post {
      justify-content: flex-start;
    }
  }
}
//@media  screen and (max-height: 767px){
//  .top_block_post {
//    .img_1{
//      width: 550px;
//      height: 550px;
//    }
//  }
//}
