@font-face {
  font-family: "Robotocondensedlight";
  src: url("../fonts/Robotocondensedlight.eot");
  src: url("../fonts/Robotocondensedlight.eot") format("embedded-opentype"), url("../fonts/Robotocondensedlight.woff2") format("woff2"), url("../fonts/Robotocondensedlight.woff") format("woff"), url("../fonts/Robotocondensedlight.ttf") format("truetype"), url("../fonts/Robotocondensedlight.svg#Robotocondensedlight") format("svg");
}
@font-face {
  font-family: "Robotocondensed";
  src: url("../fonts/Robotocondensed.eot");
  src: url("../fonts/Robotocondensed.eot") format("embedded-opentype"), url("../fonts/Robotocondensed.woff2") format("woff2"), url("../fonts/Robotocondensed.woff") format("woff"), url("../fonts/Robotocondensed.ttf") format("truetype"), url("../fonts/Robotocondensed.svg#Robotocondensed") format("svg");
}
body {
  padding: 0;
  margin: 0;
}

h1 {
  color: red;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/***** NEWS *****/
.news {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2px;
}
.news .news-title {
  color: #362f2f;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-left: 10px;
  position: relative;
  font-weight: bold;
}
.news .news-title:after {
  content: "";
  width: 170px;
  height: 1px;
  display: block;
  background: #c3a000;
  position: absolute;
  margin-top: 3px;
  left: 0;
}
.news .new-item:not(:last-child) {
  margin-bottom: 50px;
}
.news .new-item .new-title {
  font-weight: bold;
  text-transform: uppercase;
}
.news .new-item .new-date {
  font-size: 11px;
  color: #7a7a7a;
  margin-bottom: 2px;
}
.news .new-item .new-description {
  position: relative;
  margin-bottom: 0;
}
.news .new-item .new-link {
  font-size: 10px;
  color: #c3a000;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: -2px;
  background: #fff;
  padding: 0 10px;
}
.news .new-item .new-link:hover {
  text-decoration: none;
}

@media (max-width: 992px) {
  .news .new-item .new-description p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }
  .news .new-item .new-link {
    position: static;
    background: transparent;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .news {
    margin: 30px 0;
  }
  .news .new-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
/***** NEWS END*****/
/***** COMMENTS *****/
.comments {
  margin: 50px 0;
  color: #000;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.comments h5 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}
.comments .comment-list {
  margin: 20px 0;
}
.comments .comment-list * + .comment-list__reply {
  margin-top: 20px;
}
.comments .comment-list li {
  margin-bottom: 20px;
}
.comments .comment-list .box-comment {
  display: flex;
  flex-direction: row;
}
.comments .comment-list .box-comment__top {
  max-width: 700px;
  padding-right: 30px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments .comment-list .box-comment__top .link {
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 5px;
  text-decoration: none;
}
.comments .comment-list .box-comment__top .link i {
  margin-right: 10px;
}
.comments .comment-list .box-comment__top .link:hover, .comments .comment-list .box-comment__top .link:focus {
  text-decoration: none;
}
.comments .comment-list .box-comment__meta {
  display: flex;
  align-items: center;
}
.comments .comment-list .box-comment__meta .author {
  font-size: 16px;
  margin-right: 25px;
}
.comments .comment-list .box-comment__meta .date {
  color: #7f8c8c;
  font-size: 12px;
}
.comments .comment-list .box-comment__avatar {
  min-width: 70px;
  min-height: 70px;
  flex-shrink: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
}
.comments .comment-list .box-comment__body {
  padding: 12px 20px;
  background-color: #e6e6e6;
  font-size: 14px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  line-height: 22px;
}
.comments .comment-list .comment-list__reply .box-comment__body {
  background: #f8f8f8;
}
.comments .comment-list__reply > li {
  margin-left: 20px;
}

@media (max-width: 640px) {
  .comments .comment-list .box-comment__top {
    padding-right: 0;
  }
  .comments .comment-list .box-comment__meta .author {
    margin-right: 10px;
  }
  .comments .comment-list .box-comment__avatar {
    min-width: 44px;
  }
}
/*****COMMENTS END *****/
.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
  border-radius: 0;
  border: none;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-nav {
  float: none !important;
}

.navbar-collapse {
  width: 100%;
  background-color: #4a2a2a;
  position: absolute;
  top: 45px;
  left: 0;
  text-transform: uppercase;
  z-index: 9999;
}

.navbar-nav > li {
  float: none;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.navbar-toggle:focus, .navbar-toggle:hover, .navbar-toggle {
  background-color: #4a2a2a;
}

.navbar-toggle .icon-bar {
  background-color: #fefefe;
  height: 3px;
}

.container {
  position: relative;
}
.container .block_left {
  font-size: 16px;
  font-family: "RobotoCondensed", sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 0.9;
  text-align: left;
  font-weight: 100;
  background-color: black;
}
.container .block_left .img_photo_2 {
  margin-bottom: 20px;
  width: 100%;
}
.container .block_left p {
  text-align: center;
  margin-top: 10px;
}
.container .block_left .img_rsvp {
  margin-left: 145px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .block_left .img_rsvp:hover {
  transform: scale(1.5);
}
.container footer .container_partners {
  max-width: 150px;
}
.container .slide-two .owl-item img {
  width: auto;
  height: 26px;
}

.logo {
  position: absolute;
  top: 0;
  left: 45%;
}

.icons a i {
  color: #362f2f;
  padding-top: 27px;
  padding-right: 20px;
  font-size: 15px;
}

section {
  margin-bottom: 62px;
}
@media screen and (max-width: 767px) {
  section {
    margin-bottom: 30px;
  }
}
section .container .row .slide-one {
  width: 100%;
  margin: 0;
}
section .container .row .slide-one .carousel-content {
  width: 100%;
  position: relative;
}
section .container .row .slide-one img {
  width: 100%;
}
section .container .row .slide-one .descript {
  width: 25%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
@media screen and (max-width: 1199px) {
  section .container .row .slide-one .descript {
    width: 30%;
  }
}
@media screen and (max-width: 991px) {
  section .container .row .slide-one .descript {
    width: 35%;
  }
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .descript {
    position: relative;
    width: 100%;
    text-align: center;
  }
}
section .container .row .slide-one .descript .compress:hover {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .descript .compress {
    display: none;
  }
}
section .container .row .slide-one .descript .compress img {
  float: right;
  width: 17px;
  margin: 5px 5px 0 0;
}
section .container .row .slide-one .descript h3 {
  font: 18px/18px "Robotocondensed";
  color: #362f2f;
  text-transform: uppercase;
  margin: 70px 0 0 35px;
}
@media screen and (max-width: 991px) {
  section .container .row .slide-one .descript h3 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .descript h3 {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 0;
  }
}
section .container .row .slide-one .descript span {
  font: 14px/14px "Robotocondensed";
  margin-left: 35px;
  font-style: italic;
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .descript span {
    font-size: 12px;
    margin-left: 0;
  }
}
section .container .row .slide-one .descript p {
  height: 55px;
  overflow: hidden;
  font: 14px/14px "Robotocondensedlight";
  max-width: 165px;
  color: #362f2f;
  margin: 15px 0 0 35px;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .descript p {
    font-size: 12px;
    max-width: 90%;
    height: auto;
    text-align: justify;
    margin: 15px auto 0;
  }
}
section .container .row .slide-one .descript .social-icons {
  max-width: 210px;
  display: flex;
  justify-content: space-between;
  margin: 55px 20px 20px 35px;
}
@media screen and (max-width: 991px) {
  section .container .row .slide-one .descript .social-icons {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .descript .social-icons {
    width: 30%;
    margin: 10px 20px;
  }
}
section .container .row .slide-one .descript .social-icons a {
  color: #c29f00;
  transition: 0.3s;
}
section .container .row .slide-one .descript .social-icons a:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
section .container .row .slide-one .owl-dots {
  display: none;
}
section .container .row .slide-one .owl-nav {
  display: block;
  position: absolute;
  right: 75%;
  bottom: 117px;
  transition: 0.5s;
}
@media screen and (max-width: 1199px) {
  section .container .row .slide-one .owl-nav {
    right: 70%;
  }
}
@media screen and (max-width: 991px) {
  section .container .row .slide-one .owl-nav {
    right: 65%;
    bottom: 90px;
  }
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .owl-nav {
    top: 10px;
    left: 0;
    right: 0;
    bottom: 99%;
    display: flex;
    justify-content: space-between;
  }
}
section .container .row .slide-one .owl-nav .owl-prev, section .container .row .slide-one .owl-nav .owl-next {
  width: 33px;
  height: 33px;
  background-color: #362f2f;
  transition: 0.3s;
}
@media screen and (max-width: 991px) {
  section .container .row .slide-one .owl-nav .owl-prev, section .container .row .slide-one .owl-nav .owl-next {
    width: 27px;
    height: 27px;
  }
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .owl-nav .owl-prev, section .container .row .slide-one .owl-nav .owl-next {
    width: 30px;
    height: 30px;
  }
}
section .container .row .slide-one .owl-nav .owl-prev:focus, section .container .row .slide-one .owl-nav .owl-next:focus {
  outline: none;
}
section .container .row .slide-one .owl-nav .owl-prev:hover, section .container .row .slide-one .owl-nav .owl-next:hover {
  background-color: #574f4f;
  transition: 0.3s;
}
section .container .row .slide-one .owl-nav .owl-prev:hover span, section .container .row .slide-one .owl-nav .owl-next:hover span {
  color: #ffc162;
  transition: 0.3s;
}
section .container .row .slide-one .owl-nav .owl-prev span, section .container .row .slide-one .owl-nav .owl-next span {
  font-size: 20px;
  color: white;
  font-style: italic;
  transition: 0.3s;
}
@media screen and (max-width: 991px) {
  section .container .row .slide-one .owl-nav .owl-prev span, section .container .row .slide-one .owl-nav .owl-next span {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .owl-nav .owl-prev span, section .container .row .slide-one .owl-nav .owl-next span {
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
  }
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .owl-nav .owl-prev {
    margin-left: 25px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
@media screen and (max-width: 767px) {
  section .container .row .slide-one .owl-nav .owl-next {
    margin-right: 25px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}

.compress_more .descript {
  width: 50% !important;
  transition: 0.3s;
}
@media screen and (max-width: 991px) {
  .compress_more .descript {
    width: 70% !important;
  }
}
.compress_more .descript p {
  height: 95px !important;
  max-width: 75% !important;
  transition: 0.3s !important;
}
@media screen and (max-width: 450px) {
  .compress_more .descript p {
    height: 190px !important;
  }
}
.compress_more .owl-nav {
  right: 50% !important;
  transition: 0.5s !important;
}
@media screen and (max-width: 991px) {
  .compress_more .owl-nav {
    right: 30% !important;
  }
}

/**************FOOTER start***************/
footer {
  padding-top: 50px;
}
footer .container_partners {
  max-width: 150px;
}
footer .footer_description {
  margin-top: 80px;
}
footer .footer_description p {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}
footer .footer_description p:nth-of-type(1) {
  margin-bottom: 0;
}
footer .footer_description p:nth-of-type(3) {
  margin-top: 35px;
  margin-bottom: 30px;
}
footer .owl-carousel .owl-item img {
  width: auto;
  height: 26px;
}
footer .owl-nav {
  display: none;
}

/****************FOOTER end******************/

/*# sourceMappingURL=style.css.map */
