@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  color: red;
}

.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
  border-radius: 0px;
  border: none;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-nav {
  float: none !important;
}

.navbar-collapse {
  width: 100%;
  background-color: #4a2a2a;
  position: absolute;
  top: 45px;
  left: 0;
  text-transform: uppercase;

}

.navbar-nav > li {
  float: none;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.navbar-toggle:focus, .navbar-toggle:hover, .navbar-toggle {
  background-color: #4a2a2a;
}

.navbar-toggle .icon-bar {
  background-color: #fefefe;
  height: 3px;
}

.container {
  position: relative;
  .block_left {
    width: 360px;
    height: 360px;
    font-size: 18px;
    font-family: 'RobotoCondensed', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.778;
    text-align: left;
    font-weight: normal;
    background-color: black;
    .img_photo_2 {
      margin-bottom: 20px;
    }
    p {
      text-align: center;
    }
    .img_rsvp {
      margin-left: 145px;
      margin-top: 30px;
    }
    .col-sm-12 {
      img {

      }
    }
  }

  footer {
    .container_partners {
      max-width: 150px;

    }
  }
  .owl-carousel .owl-item img {
    width: auto;
    height: 26px;

  }
}
