@font-face {
  font-family: 'Robotocondensed';
  src: url('../fonts/Robotocondensed.eot');
  src: url('../fonts/Robotocondensed.eot') format('embedded-opentype'),
  url('../fonts/Robotocondensed.woff2') format('woff2'),
  url('../fonts/Robotocondensed.woff') format('woff'),
  url('../fonts/Robotocondensed.ttf') format('truetype'),
  url('../fonts/Robotocondensed.svg#Robotocondensed') format('svg');
}
@font-face {
  font-family: 'Robotocondensedlight';
  src: url('../fonts/Robotocondensedlight.eot');
  src: url('../fonts/Robotocondensedlight.eot') format('embedded-opentype'),
  url('../fonts/Robotocondensedlight.woff2') format('woff2'),
  url('../fonts/Robotocondensedlight.woff') format('woff'),
  url('../fonts/Robotocondensedlight.ttf') format('truetype'),
  url('../fonts/Robotocondensedlight.svg#Robotocondensedlight') format('svg');
}



@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  color: red;
}

.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
  border-radius: 0px;
  border: none;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-nav {
  float: none !important;
}

.navbar-collapse {
  width: 100%;
  background-color: #4a2a2a;
  position: absolute;
  top: 45px;
  left: 0;
  text-transform: uppercase;

}

.navbar-nav > li {
  float: none;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.navbar-toggle:focus, .navbar-toggle:hover, .navbar-toggle {
  background-color: #4a2a2a;
}

.navbar-toggle .icon-bar {
  background-color: #fefefe;
  height: 3px;
}

.container {
  position: relative;
  .block_left {
    width: 360px;
    height: 360px;
    font-size: 16px;
    font-family: 'RobotoCondensed', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.9;
    text-align: left;
    font-weight: 100;
    background-color: black;
    .img_photo_2 {
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      margin-top: 10px;
    }
    .img_rsvp {
      margin-left: 145px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .img_rsvp:hover{
      transform: scale(1.5);
    }
    .col-sm-12 {
      img {

      }
    }
  }

  footer {
    .container_partners {
      max-width: 150px;

    }
  }
  .slide-two .owl-item img {
      width: auto;
      height: 26px;
    }
}
.logo{
  position: absolute;
  top: 0;
  left:45%;
}
.icons a i{
  color: #362f2f;
  padding-top: 27px;
  padding-right: 20px;
  font-size: 15px;
}

section{
  margin-bottom: 62px;
  .container{
    .slide-one{
      max-width: 1140px;
      width: 100%;
      margin: auto;
      .carousel-content{
        width: 100%;
        position: relative;
      }
      img{
        width: 100%;
        height: 100%;
      }
      .descript{
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        h3{
          font: 18px/18px 'Robotocondensed';
          color: #362f2f;
          text-transform: uppercase;
          margin: 70px 0 0 20px;
        }
        span{
          font: 14px/14px 'Robotocondensed';
          margin-left: 20px;
          font-style: italic;
        }
        p{
          font: 14px/14px 'Robotocondensedlight';
          max-width: 165px;
          color: #362f2f;
          margin: 15px 0 0 20px;
        }
        .social-icons{
          max-width: 210px;
          display: flex;
          justify-content: space-between;
          margin: 55px 0 20px 20px;
          a{
            color: #c29f00;
          }
        }
      }
      .owl-dots{
        display: none;
      }

      .owl-nav{
        display: block;
        position: absolute;
        left: 213px;
        bottom: 117px;
        .owl-prev,.owl-next{
          &:focus{
            outline: none;
          }
          width: 33px;
          height: 33px;
          background-color: #362f2f;
          span{
            font-size: 20px;
            color: white;
            font-style: italic;
          }
        }
      }
    }
  }
}