@font-face {
  font-family: 'Robotocondensed';
  src: url("../fonts/Robotocondensed.eot");
  src: url("../fonts/Robotocondensed.eot") format("embedded-opentype"), url("../fonts/Robotocondensed.woff2") format("woff2"), url("../fonts/Robotocondensed.woff") format("woff"), url("../fonts/Robotocondensed.ttf") format("truetype"), url("../fonts/Robotocondensed.svg#Robotocondensed") format("svg"); }
@font-face {
  font-family: 'Robotocondensedlight';
  src: url("../fonts/Robotocondensedlight.eot");
  src: url("../fonts/Robotocondensedlight.eot") format("embedded-opentype"), url("../fonts/Robotocondensedlight.woff2") format("woff2"), url("../fonts/Robotocondensedlight.woff") format("woff"), url("../fonts/Robotocondensedlight.ttf") format("truetype"), url("../fonts/Robotocondensedlight.svg#Robotocondensedlight") format("svg"); }
body {
  padding: 0;
  margin: 0; }

h1 {
  color: red; }

.navbar-header {
  float: none; }

.navbar-toggle {
  display: block;
  border-radius: 0px;
  border: none; }

.navbar-collapse.collapse {
  display: none !important; }

.navbar-nav {
  float: none !important; }

.navbar-collapse {
  width: 100%;
  background-color: #4a2a2a;
  position: absolute;
  top: 45px;
  left: 0;
  text-transform: uppercase; }

.navbar-nav > li {
  float: none; }

.navbar-collapse.collapse.in {
  display: block !important; }

.navbar-toggle:focus, .navbar-toggle:hover, .navbar-toggle {
  background-color: #4a2a2a; }

.navbar-toggle .icon-bar {
  background-color: #fefefe;
  height: 3px; }

.container {
  position: relative; }
  .container .block_left {
    width: 360px;
    height: 360px;
    font-size: 16px;
    font-family: 'RobotoCondensed', sans-serif;
    color: white;
    text-transform: uppercase;
    line-height: 0.9;
    text-align: left;
    font-weight: 100;
    background-color: black; }
    .container .block_left .img_photo_2 {
      margin-bottom: 20px; }
    .container .block_left p {
      text-align: center;
      margin-top: 10px; }
    .container .block_left .img_rsvp {
      margin-left: 145px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .container .block_left .img_rsvp:hover {
      transform: scale(1.5); }
  .container footer .container_partners {
    max-width: 150px; }
  .container .slide-two .owl-item img {
    width: auto;
    height: 26px; }

.logo {
  position: absolute;
  top: 0;
  left: 45%; }

.icons a i {
  color: #362f2f;
  padding-top: 27px;
  padding-right: 20px;
  font-size: 15px; }

section {
  margin-bottom: 62px; }
  section .container .slide-one {
    max-width: 1140px;
    width: 100%;
    margin: auto; }
    section .container .slide-one .carousel-content {
      width: 100%;
      position: relative; }
    section .container .slide-one img {
      width: 100%;
      height: 100%; }
    section .container .slide-one .descript {
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: 0; }
      section .container .slide-one .descript h3 {
        font: 18px/18px 'Robotocondensed';
        color: #362f2f;
        text-transform: uppercase;
        margin: 70px 0 0 20px; }
      section .container .slide-one .descript span {
        font: 14px/14px 'Robotocondensed';
        margin-left: 20px;
        font-style: italic; }
      section .container .slide-one .descript p {
        font: 14px/14px 'Robotocondensedlight';
        max-width: 165px;
        color: #362f2f;
        margin: 15px 0 0 20px; }
      section .container .slide-one .descript .social-icons {
        max-width: 210px;
        display: flex;
        justify-content: space-between;
        margin: 55px 0 20px 20px; }
        section .container .slide-one .descript .social-icons a {
          color: #c29f00; }
    section .container .slide-one .owl-dots {
      display: none; }
    section .container .slide-one .owl-nav {
      display: block;
      position: absolute;
      left: 213px;
      bottom: 117px; }
      section .container .slide-one .owl-nav .owl-prev, section .container .slide-one .owl-nav .owl-next {
        width: 33px;
        height: 33px;
        background-color: #362f2f; }
        section .container .slide-one .owl-nav .owl-prev:focus, section .container .slide-one .owl-nav .owl-next:focus {
          outline: none; }
        section .container .slide-one .owl-nav .owl-prev span, section .container .slide-one .owl-nav .owl-next span {
          font-size: 20px;
          color: white;
          font-style: italic; }

/*# sourceMappingURL=style.css.map */
